.tile{
    width: 100px;
    height: 100px;
    display : grid;
    place-content: center;
}

.black-tile{
    background-color :darkolivegreen;

}

.white-tile{
    background-color: burlywood;
}

.tile .chess-piece {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 95px;
}

.tile .chess-piece:hover{
    cursor : grab;
}

.tile .chess-piece:active{
    cursor : grabbing;
}

.tile img {
    width : 80px;
    height : auto;
}