.chessboard { 
    width : 800px;
    height : 800 px;
    position: relative;
    display: grid;
    top : 9.5vh;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
    overflow : -moz-hidden-unscrollable;
    margin:0px auto;
    z-index: 1;
}

.grayed-out{
    opacity: .6;
}

.newgame {
    position: absolute;
    background: #222;
    top : 58vh;
    left : 43vw;
    width : 14vw;
    height: 10vh; 
    min-width: 150px;
    border-style: solid;
    border-color :lightblue;
    border-radius: 10px;
    color: #eee;
    font-size: 34px;
    font-family: 'Cookie', cursive;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-top: 5px;
    z-index : 105;
  }

.check {
    top : 35vh;
    left : 35vw;
    width : 30vw;
    height: 16vh; 
    background: #222;
    color: #eee;
    position: absolute;
    display: table; 
    overflow: hidden;
    z-index: 100;
    opacity : .9;
    border-radius: 10px;
    font-size: 60px;
    font-family: 'Cookie', cursive;
}

.mate{
    margin: auto auto;
    text-align: center;
    vertical-align: middle;
    font-family: 'Cookie', cursive;
    display: table-cell;
}
.container{
    display: flex;
    place-content: center;
    height: 100vh;
    background-color: black;
    overflow: -moz-hidden-unscrollable;
}